<mat-toolbar color="primary">
        <button mat-icon-button
                (click)="toggle()">
                <mat-icon>menu</mat-icon>
        </button>

        <button mat-button
                routerLink="/">Home</button>
        <button mat-button
                *ngIf="service.isAuthenticate()"
                routerLink="/search">Search</button>
        <button mat-button
                *ngIf="service.isAuthenticate()"
                routerLink="/friendships">Friendships</button>
        <button mat-button
                *ngIf="service.isAuthenticate()"
                routerLink="/followers">Followers</button>
        <button mat-button
                *ngIf="service.isAuthenticate()"
                routerLink="/followings">Following</button>

        <span style="flex: 1 1 auto;"></span>

        <button mat-button
                routerLink="/register"
                color="warn"
                *ngIf="!service.isAuthenticate()">Register</button>
        <button mat-button
                routerLink="/login"
                color="warn"
                *ngIf="!service.isAuthenticate()">Login</button>
        <button mat-button
                (click)="service.logout()"
                color="warn"
                *ngIf="service.isAuthenticate()">Logout</button>
        <button mat-button
                routerLink="/profile"
                color="warn"
                *ngIf="service.isAuthenticate()">{{service.userName}}</button>
</mat-toolbar>